.img_wrapper{
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    /* justify-content: space-between; */
   
}
.cart_box{
    width: 312px;
    flex-shrink: 0;
    margin-right: 15px;
    box-shadow: rgba(0,0,0,0.14) 0px 3px 5px;
    position: relative;
    margin-top: 1rem !important;
}
.cart_box:hover{
    position: relative;
    z-index: -2;

}


.imgp{
    width: 100%;
}
.discription{
    margin: 10px 0 0 0 !important;
    font-size: 14px;
}
.counter_btn{
    position: absolute;
    padding: 5px 10px;
    border: 1px solid #ddd;
    /* background-color: lightgray; */
    top: 15px;
    right: 15px;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

}
.counter_btn:hover{
    background-color: #009F7F;
    transition: 0.5ms;
    color: #fff;

}
.load_btnbox{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.btn_more{
    padding: 10px 20px !important;
    border: none;
    background-color: #009F7F;
    border-radius: 5px;
    color: #fff;
}
.container-fluid{
    padding: 24px;
}