
.banner_container {
  height: 300px;
  background-position: center;
}
.banner_textbox{
    text-align: center;
    padding: 20px 80px;
    margin: 32px auto;
    width: 1000px;
}
.impbox{
    width: 60%;
    padding: 8px 56px 8px 24px;
    border: none;
    background: #FFFFFF;
}
h1{
    font-size: 45px !important ;
    font-weight: 700;
    margin: 0 !important;
}
p{
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
    font-size: 1.1rem;
}
    
.search_btn{
    padding:9px 2rem;
    border: none;
    background-color: #009F7F;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFFFFF;


}
